@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --body-color-light: #f0f0f0;
    --card-color-light: #fff;
    --headline-color-light: #000;
    --paragraph-color-light: #5c5c5c;
    --link-color-light: #0000ff;
    --body-color-dark: #232528;
    --card-color-dark: #42474C;
    --headline-color-dark: #fff;
    --paragraph-color-dark: #d9d9d9;
    --link-color-dark: #ffff00;

    --body-color: var(--body-color-dark);
    --card-color: var(--card-color-dark);
    --headline-color: var(--headline-color-dark);
    --paragraph-color: var(--paragraph-color-dark);
    --link-color: var(--link-color-dark);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--body-color);
    transition: background ease-in .4s;
}

header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 12px 24px;
}

.switch {
    /* background: red; */
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    transform: translateX(16px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

main {
    margin-top: 80px;
    max-width: 800px;
    display: flex;
    background: var(--card-color);
    box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
    transition: background ease-in .4s;
}

.images {
    flex: 30%;
    display: flex;
    background: red;
    /* justify-content: center; */
}

.images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    flex: 70%;
    padding: 80px 40px;
    line-height: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2px;
    color: var(--headline-color);
}

.sub {
    font-size: .8rem;
    margin-bottom: 2rem;
    color: var(--headline-color);

}

.paragraph {
    font-size: .8rem;
    color: var(--paragraph-color);
    margin-bottom: 2rem;
} 

ul {
    display: flex;
    justify-content: flex-end;
}

ul li {
    margin-right: 5px;
}

ul li:after {
    content: '|';
    margin-left: 5px;
    color: var(--link-color);
}

ul li a {
    color: var(--link-color);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}